################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/USBCommTest/USBCommTest/obj/Debug
/USBCommTest/USBCommTest/obj/Release
/.vs
